@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-image: url("../media/outerbackground.jpg");
  background-repeat: repeat;
  background-color: gray;
  text-align: center;
  font-size: 100%;
  font-family: "Arsenal", sans-serif;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.6;
}

.homepage-wrapper {
  background-color: #d92323;
  width: 90%;
  margin: auto;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.5);
}

nav ul {
  background-image: url("../media/banner.jpg");
	text-align: center;
	background-color: red;
	padding: 15px;
}

nav li {
	display: inline-block;
	margin: 0 20px;
}

nav a {
  font-family: "Arsenal", sans-serif;
	text-decoration: none;
  color: #ffffff;
	font-weight: bold;
	font-size: 18px;
}

.text{
  background-image: url("../media/banner.jpg");
  margin: 5%;
  display: inline-block;
  width: 90%;
  border-radius: 6px;
	border: 2px solid rgba(0, 0, 0, 0.3); 
}
.intro, .hobbies{
  width: 50%;
  float: left;
  padding: 20px;
}
.gallery {
  background-image: url("../media/banner.jpg");
  font-family: "Segoe Ui", sans-serif;
  margin: 5%;
  display: inline-block;
  width: 90%;
  border-radius: 6px;
	border: 2px solid rgba(0, 0, 0, 0.3);
}
.gallery img {
  display: inline-block;
  text-align: center;
  width: 25%;
	height: auto;
	margin: 1%;
	border-radius: 6px;
	border: 3px solid red;
}

.resume-wrapper {
  background-color: #d92323;
  width: 90%;
  margin: auto;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  overflow: hidden;
}

.column1, .column2{
  float: left;
  padding: 5%;
}

.drawing img{
  border-radius: 50%;
}
.column1 {
  background-color: #821515;
  width: 35%;
}

.column2 {
  background-color: #d92323;
  width: 65%;
}

a {
  color: #e6c76b;
}

.portfolio-wrapper {
  background-color: #d92323;
  width: 90%;
  margin: auto;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.5);
}

.images {
  background-image: url("../media/banner.jpg");
  display: inline-block;
  margin: 5%;
  width: 90%;
  border-radius: 6px;
	border: 2px solid rgba(0, 0, 0, 0.3);
}

.images img, .images video{
  display: inline-block;
  width: 45%;
  margin: 1%;
	height: auto;
	border-radius: 6px;
	border: 3px solid red;
}